@import "tailwindcss";

html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
  font-family: "Inter", sans-serif;
}

.input {
  @apply w-full bg-[#181818] text-white px-4 py-3 rounded-md border border-neutral-700 
  focus:border-white focus:ring-1 focus:ring-white outline-none 
  placeholder:text-neutral-500 text-sm transition;
}

.error {
  @apply text-red-500 text-xs mt-1;
}
